@font-face {
    font-family: BebasNeue-webfont;
    src: url("../source/BebasNeue-webfont.ttf");
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
   list-style: none;
}

body {
    background: url("../img/pattern.gif");
    font-family: BebasNeue-webfont;
}

#header {
    background-color: red;
    height: 3px;
}

#nav {
    text-align: center;
}

#nav ul {
    display: inline-block;
}

#nav ul li{
    float: left;
    margin-left: 20px;
    height: 43px;
    line-height: 43px;
}


#nav ul li a {
    display: inline-block;
    color: white;
    font-size: 40px;
    width: 200px;
}

#nav ul li a:hover {
    background-color: white;
    color: black;
}

#nav ul li a.select {
    background-color: white;
    color: black;
}

#list {
    margin-top:40px;
    background-color: white;
    text-align: center;
}

#list .dom {
    width: 382px;
    display: inline-block;
    text-align: left;
    margin: 20px;
}

#list .dom p {
    font-family: "sans-serif";
    color: #999;
    margin: 5px 0px;
}

#list .dom a {
    display: inline-block;
    background-color: #C0392B;
    width: 130px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    color: white;
    font-size: 28px;
}

#list .dom a:hover {
    background-color: #0D1613;
}

#footer {
    text-align: center;
    margin-bottom: 30px;
}

#footer h2 {
    color: white;
    margin: 5px 0px;
    font-size: 30px;
}

#footer ul {
    display: inline-block;
}

#footer ul li {
    float: left;
    margin-right: 10px;
}

#footer ul li:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1153px){
    #nav ul li a {
        font-size: 30px;
        width: 150px;
    }
}

@media screen and (max-width: 873px){
    #nav ul li a {
        font-size: 25px;
        width: 100px;
    }
}

@media screen and (max-width: 688px){
    #nav ul li a {
        font-size: 20px;
        width: 80px;
    }
}