body {
    background-color: #F2F2F2;
}

#content {
    text-align: center;
    margin-top: 50px;
}

#content .panel {
    background-color: white;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 20px;
}

#content .panel .group {
    margin-bottom: 5px;
}

#content .panel .group input {
    display: block;
    width: 250px;
    height: 33px;
    padding-left: 7px;
    font-size: 15px;
    border: 1px solid #ddd;
}

#content .panel .group input:focus {
    outline: none;
    border-left-color: #CC865E;
}

#content .panel .group label {
    display: block;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

#content .login {
    margin-top: 20px;
}
#content .login button {
    width: 250px;
    background-color: #CC865E;
}

#content .login button:hover {
    color: #CC865E;
    background-color: white;
    border: 1px solid #CC865E;
    cursor: pointer;
}

#content button {
    height: 33px;
    border: 0px;
    color: white;
    font-size: 18px;
}

#content .reg {
    margin-top: 20px;
}

#content .reg button {
    width: 200px;
    background-color: #466BAF;
}

#content .reg button:hover {
    background-color: white;
    color: #466BAF;
    border: 1px solid #466BAF;
    cursor: pointer;
}